.footer{
    margin: 100px 200px 100px 100px;

    .top{
        display: flex;
        gap:50px ;
    }

    .item{
        flex:1;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        font-size: 14px;
        h1 {
            font-size: 18px;
            color: #3A3738;
        }

        span{
            color:gray;
        }
    }

    .bottom{
        display: flex;
        align-items: center;
        margin-top: 20px;

        .left{
            display: flex;
            align-items: center;
            font-size: 12px;
            
            .logo{
                font-size: 18px;
                color: #205E99;
                font-weight: bold;
            }
            .copyright{
                font-size: 12px;
                color: gray;
                margin-left: 10px;
            }
        }

        .right{
            img{
                height: 100px;
                margin-left: 310px;
                margin-top: 50px;
            }
        }
    }
}